{% extends 'driver/driverheader.html' %}
{% load static %}
{% block content %}
<!-- Left side column. contains the logo and sidebar -->


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header sty-one">
    <h1>Dashboard</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><i class="fa fa-angle-right"></i> Dashboard</li>
    </ol>
  </div>

  <!-- Main content -->
  <div class="card m-t-3">
    <div class="card-body">
      <h4 class="text-black">Customer Booking Table</h4>

      <div class="table-responsive">
        <table id="example1" class="table table-bordered table-striped">

          <thead>
           
            <tr>
              <th>Booking Id</th>
              <th>Pick Address</th>
              <th>Drop Address</th>
              <th>Category</th>
              <th>Vehicle</th>
              <th>Total Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for b in cbookings %}
            <tr>
              <td>{{ b.id }}</td>
              <td>{{ b.pick_address }}</td>
              <td>{{ b.drop_address }}</td>
              <td>{{ b.category_id.category_name }}</td>
              <td>{{ b.vehicle_id.vehicle_name }}</td>
              <td>{{ b.total_amount }}</td>

              {% if b.status == status.0 %}
              <td>
                <a href="/driverhome?b_id={{ b.id }}" class="btn btn-sm btn-success text-white">Accept</a>
              </td>
              {% else %}
              <td>
                <a class="btn btn-sm btn-success text-white disabled" >Accepted</a>
              </td>
              {% endif %}

            </tr>
            {% endfor %}

        </table>
      </div>
    </div>
  </div>


  <div class="card m-t-3">
    <div class="card-body">
      <h4 class="text-black">Enterprise Booking Table</h4>

      <div class="table-responsive">
        <table id="example1" class="table table-bordered table-striped">

          <thead>
           
            <tr>
              <th>Booking Id</th>
              <th>Pick Address</th>
              <th>Drop Address</th>
           
              <th>Vehicle</th>
              <th>Total Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for b in ebookings %}
            <tr>
              <td>{{ b.id }}</td>
              <td>{{ b.pick_address }}</td>
              <td>{{ b.drop_address }}</td>
            
              <td>{{ b.vehicle_id.vehicle_name }}</td>
              <td>{{ b.total_amount }}</td>

              {% if b.status == status.0 %}
              <td>
                <a href="/driverhome?be_id={{ b.id }}" class="btn btn-sm btn-success text-white">Accept</a>
              </td>
              {% else %}
              <td>
                <a class="btn btn-sm btn-success text-white disabled" >Accepted</a>
              </td>
              {% endif %}

            </tr>
            {% endfor %}

        </table>
      </div>
    </div>
  </div>

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}