{% extends 'client/header.html' %}
{% load static %}
{% block content %}
<!-- header-start-end -->

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
           
            <!-- breadcrumb-area-end -->

            <!-- support-area -->
            <div class="support-area support-bg pt-110 pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-10">
                            <div class="s-section-title text-center mb-60">
                                <br/>
                                <br/>
                                <h2>Forget Password</h2>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="support-form text-center">
                                <form method="POST">
                                   {% csrf_token %}
                                   
                                        <div class="col-md-6 mx-auto text-left">
                                            <label class="font-weight-bold h5">Email</label>
                                            <input type="email" name="forget_email" placeholder="Enter Your Registered Email" required>
                                        </div>
                                        <br/>
                                        
                                        <button class="btn red-btn col-md-4">Submit</button>

                                        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- support-area-end -->

            <!-- contact-area -->
          
            <!-- contact-area-end -->

            <!-- contact-map -->
         
            <!-- contact-map-end -->

        </main>
        <!-- main-area-end -->

        <!-- footer -->

        {% endblock %}