{% extends 'admin/header.html' %}
{% load static %}
{% block content %}
  <!-- Left side column. contains the logo and sidebar -->
  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Dashboard</h1>
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><i class="fa fa-angle-right"></i> Dashboard</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div class="row">
        <div class="col-lg-4 col-xs-6 m-b-3">
          <div class="card">
            <div class="card-body"><span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
              <div class="info-box-content"> <h2><span class="info-box-number">{{ customers }}</span></h2> <h3><b><span class="info-box-text">Users</span></b></h3> </div>
              <div><a href="/managecustomer">View Users</a> </div>
            </div>
          </div>
        </div>
     
        <div class="col-lg-4 col-xs-6 m-b-3">
          <div class="card">
            <div class="card-body"><span class="info-box-icon bg-green"><i class="fa fa-database"></i></span>
              <div class="info-box-content"> <h2><span class="info-box-number">{{ categories }}</span></h2> <h3><b><span class="info-box-text"> Total Categories</span></b></h3></div>
              <div><a href="/managecategory">View Categories</a> </div>
            </div>
          </div>
        </div>
       
        <div class="col-lg-4 col-xs-6 m-b-3">
          <div class="card">
            <div class="card-body"><span class="info-box-icon bg-yellow"><i class="fa fa-shopping-cart"></i></span>
              <div class="info-box-content"> <h2><span class="info-box-number">{{ bookings }}</span></h2> <h3><b><span class="info-box-text">Total Booking</span></b></h3></div>
              <div> <a href="/managebooking">View Bookings</a> </div>
            </div>
          </div>
        </div>

        
       
      </div>
      <!-- /.row -->
      
    </div>  

    <div class="card m-t-3">
      <div class="card-body">
      <h4 class="text-black">Data Table</h4>
      <p>Data Table With Full Features</p>
      <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Driver ID</th>
                  <th>Driver Name</th>
                  <th>Licence image</th>
                  <th>RC Image</th>
                  <th>Vehicle Number</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  {% for d in driver %}
                <tr>
                  <td>{{ d.id }}</td>
                  <td>{{ d.driver_name }}</td>


                  <td><img src="{{ d.license_image.url }}" data-toggle="modal" data-target="#exampleModal1" height="50" width="100"></td>


                  <!-- Modal -->
           <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">RC Image</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <img src="{{ d.license_image.url }}" width="100%" height="100%">
               </div>
               <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>




                  <td><img src="{{ d.rc_image.url }}" data-toggle="modal" data-target="#exampleModal" height="50" width="100"></td>

                  
                   <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Licence Image</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="{{ d.rc_image.url }}" width="100%" height="100%">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                  </div>
                </div>
              </div>


                                    

                   


                  <td>{{ d.vehicle_no }}</td>
                  <td>
                        <a href="/home/?confirm={{d.id}}" class="btn btn-success mx-2 btn-sm">Confirm</a>

                        <a href="/home/?reject={{d.id}}" class="btn btn-danger mx-2 btn-sm">Reject</a>
                  </td>
                  
                </tr>
                {% endfor %}
               
              </table>
                  </div>
      </div></div>

    </div>
    <!-- /.content --> 
  </div>
    <!-- /.content --> 
  </div>

  
  <!-- /.content-wrapper -->
  {% endblock %}
