{% extends 'admin/header.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper"> 
    <div class="content">
      <div class="row"></div>
        <div class="row m-t-3">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header bg-blue">
                  <h5 class="m-b-0">City Insert Form</h5>
                </div>
                <div class="card-body">
                    {% if msg %}
                <p class="alert alert-success m-2">{{ msg }}</p>
                    {% endif %}
                <form method="POST" class="form-horizontal form-bordered">
                {% csrf_token %}
                    <div class="form-body">
                      <div class="form-group row">
                        <label class="control-label text-right col-md-3">city Name</label>
                        <div class="col-md-9">
                          <input name="city_name" placeholder="city Name" class="form-control" type="text">
                          </div>
                      </div>
                   
                      
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="offset-sm-3 col-md-9">
                                        <button type="submit" class="btn btn-success"> Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
         
</div>   
</div>
</div>
</div>
{% endblock %}