{% extends 'admin/header.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Data Tables</h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><i class="fa fa-angle-right"></i> <a href="#">Tables</a></li>
        <li><i class="fa fa-angle-right"></i> Data Tables</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div class="card">
      <div class="card-body">
      <h4 class="text-black">Booking Detail Table</h4>
      <input type="button" class="btn btn-accent" style="background:#0077d3" onclick="generate()" value="Export" />
      <div class="table-responsive">
                  <table id="table" class="table table-bordered table-hover" data-name="cool-table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Driver Name</th>
                        <th>Category Name</th>
                        <th>Vehicle Name</th>
                        <th>Pick Address</th>
                        <th>Drop Address</th>
                        <th>Shipping Items</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                    {% for b in cbookings %}
                      <tr>
                        <td>{{ b.id }}</td>
                        <td>{{ b.customer_id.first_name }}</td>
                        <td>{{ b.driver_id.driver_name }}</td>
                        <td>{{ b.category_id.category_name }}</td>
                        <td>{{ b.vehicle_id.vehicle_name }}</td>
                        <td>{{ b.pick_address }}</td>
                        <td>{{ b.drop_address }}</td>
                        <td>{{ b.items }}</td>
                        <td>{{ b.total_amount }}</td>
                        <td>{{ b.status }}</td>
                      
                      </tr>
                      {% endfor %}
                    </tbody>  
                  </table>


                  <script>
                    function generate() {
                        var doc = new jsPDF();
                
                        var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
                        var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
                        // FOOTER
                        let str = "User Booking Report";
                        doc.setTextColor(100);
                        doc.setFontSize(20);
                        doc.text(str, pageWidth / 2, pageHeight  - 285, 'center');
                        // Simple html example
                        doc.autoTable({html: '#table',startY:20});
                
                        doc.save('table.pdf');
                    }
                </script>


                  </div>
      </div></div>
      
      

    </div>
    <!-- /.content --> 
  </div>


  <script type="text/javascript" src="jquery-3.4.1.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="{% static '/plugins/table-expo/jspdf.debug.js' %}"></script>
<script src="{% static '/plugins/table-expo/jspdf.plugin.autotable.js' %}"></script>

  <script type="text/javascript">
      $("body").on("click", "#btnExport", function () {
          html2canvas($('#tableExample3')[0], {
              onrendered: function (canvas) {
                  var data = canvas.toDataURL();
                  var docDefinition = {
                      content: [{
                          image: data,
                          width: 500
                      }]
                  };
                  pdfMake.createPdf(docDefinition).download("Table.pdf");
              }
          });
      });
  </script>

  {% endblock %}
  {% block script %}
  <script src="{% static 'dist/plugins/datatables/jquery.dataTables.min.js' %}"></script> 
  <script src="{% static 'dist/plugins/datatables/dataTables.bootstrap.min.js' %}"></script> 
  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>
  
  <script src="{% static 'dist/plugins/table-expo/filesaver.min.js' %}"></script>
  <script src="{% static 'dist/plugins/table-expo/xls.core.min.js' %}"></script>
  <script src="{% static 'dist/plugins/table-expo/tableexport.js' %}"></script>
  <script>
  $("table").tableExport({formats: ["csv", "txt"],    });
  </script>
  {% endblock %}
  
  
